<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="library" version="3.0">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>BookController</servlet-name>
		<servlet-class>by.minsler.library.controller.BookController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookController</servlet-name>
		<url-pattern>/book</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>by.minsler.library.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<listener>
		<display-name>Init DB connection</display-name>
		<listener-class>by.minsler.library.db.ConnectionInit</listener-class>
	</listener>
	
	<context-param>
		<param-name>jdbcDriverName</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/library</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcUser</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcPassword</param-name>
		<param-value>1234</param-value>
	</context-param>
	
	<!--
	<servlet>
		<servlet-name>initjdbc</servlet-name>
		<servlet-class>by.minsler.InitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>initjdbc</servlet-name>
		<url-pattern>/init</url-pattern>
	</servlet-mapping>
	
	
	
	<context-param>
		<param-name>jdbcDriverName</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/pageengine</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcUser</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcPassword</param-name>
		<param-value>1234</param-value>
	</context-param>
	
	
	<servlet>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>by.minsler.admin.AdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>SiteController</servlet-name>
		<servlet-class>by.minsler.controller.SiteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SiteController</servlet-name>
		<url-pattern>/site</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SiteController</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	<listener>
		<display-name>Init DB connection</display-name>
		<listener-class>by.minsler.db.ConnectionInit</listener-class>
	</listener>
	
	  -->
	
</web-app>

